body {
    margin: 0px;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}